:root {
    --clr-primary: #ff0077;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 90%;
    margin: auto;
}

.logo {
    width: 250px;
    margin: 20px auto;
}

.logo img {
    width: 100%;
}

.nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    background-color: var(--clr-primary);
}

.nav a {
    padding: 10px;
    text-decoration: none;
    position: relative;
    color: white;
    text-transform: uppercase;
    transition: 0.5s;
}

.box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 20rem));
    justify-content: center;
    gap: 2rem;
    padding: 20px;
}

.profile {
    position: relative;
    text-align: center;
    padding-bottom: 10px;
    background-color: hsl(240deg 8% 93%);
    border-radius: 5px;
    overflow: hidden;
}

.name {
    text-align: center;
    padding-top: 0px;
    color: var(--clr-primary);
}

.box .person-background {
    position: absolute;
    background-position: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 10rem;
    background-size: cover;
}

.box .person {
    padding-top: 10px;
    width: 7rem;
    clip-path: circle(50px at center);
    margin-top: 6rem;
    transition: 0.5s;
}

.box .person:hover {
    transform: scale(1.1, 1.1);
}

.descprition {
    padding: 10px;
    text-align: center;
    margin-bottom: 40px;
}

.btn {
    left: 0;
    width: 100%;
    border: none;
    background-color: var(--clr-primary);
    color: white;
    padding: 10px;
    position: absolute;
    bottom: 0;
    font-size: 25px;
    transition: 0.5s;
}

.btn:hover {
    background-color: rgb(18, 178, 252);
}

footer {
    padding: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--clr-primary);
    color: white;
}

footer ul {
    list-style: none;
}

footer ul li {
    padding: 5px;
}

footer ul p {
    color: white;
    position: relative;
}

footer ul p::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0px;
    width: 0%;
    height: 2px;
    background-color: #f3d215;
    transition: 0.5s;
}

footer ul p:hover::after {
    width: 100%;
}

.rights {
    text-align: center;
}

.shawkytech {
    font-weight: 500;
}

@media (min-width:471px) {
    .nav a:hover {
        transform: translateY(-5px);
    }
}

@media (max-width:470px) {
    .nav {
        flex-flow: column;
    }
    .nav a:not(:last-child) {
        border-bottom: 1px rgb(255, 255, 255) solid;
        width: 100%;
    }
}
